.LoginError__circular-div {
    height: 90px;
    width: 90px;
    background-color: #F50057;
    border-radius: 50%;
    display: flex;
    margin: auto;
}
.LoginError__icon {
    color: #fff;
    margin: auto;
}
.LoginError__messages {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.LoginError__main-message {
    color: #333333;
}
.LoginError__scnd-message {
    color: #333333;
}